Arithmatic Operators
---------
+, -, *, /, %, **, //

In [1]:
a=2
b=3

In [2]:
a

2

In [3]:
a+b

5

In [4]:
a-b

-1

In [5]:
a*b

6

In [6]:
a/b

0.6666666666666666

In [7]:
a%b

2

In [8]:
a**b

8

In [9]:
a//b

0

In [15]:
a = 5
b = 2

In [17]:
a//b

2

In [16]:
a/b

2.5

Comparison Operators
--------
==, !=, >, <, >=, <=

In [23]:
a=3
b=2

In [21]:
a==b

True

In [24]:
a!=b

True

In [25]:
a>b

True

In [26]:
a<b

False

In [27]:
a>=b

True

In [28]:
a<=b

False

Logical Operators 
------
and,or,not

In [1]:
x=5
y=6
z=6

In [2]:
x==y and y==z

False

In [3]:
x=6
y=6
z=6

In [4]:
x==y and y==z

True

In [5]:
x=5
y=6
z=6

In [6]:
x==y or y==z

True

In [8]:
x=True 
Y=False

In [11]:
print(not x)

False

In [12]:
print(not Y)

True

Assignment Operators
-----
+= , -= , *= , /=

In [13]:
a=3

In [14]:
a+=3

In [15]:
print(a)

6

In [16]:
a

6

In [17]:
b=3

In [18]:
b-=1

In [19]:
b

2

In [20]:
c=3

In [21]:

c*=2

In [22]:
c

6

In [23]:
d=4

In [24]:
d/=2

In [25]:
d

2.0

In [26]:
#example
a=5

In [27]:
a+=6

In [28]:
a

11

In [33]:
a=5

In [34]:
a-=3

In [35]:
a

2

In [36]:
a=5

In [37]:
a*=4

In [38]:
a

20

In [39]:
a=5

In [40]:
a/=3

In [41]:
a

1.6666666666666667

Identity Operators
---- 
is // is not

In [46]:
name="himanshu"

In [49]:
a = 10
b = 11

In [50]:
a is b

False

In [52]:
name = "Himansu"
name1 ="hi,ansu"

In [53]:
name is name1

False

In [54]:
a=5
b=6

In [55]:
a is b

False

In [56]:
a is not b

True

In [58]:
a="hello"
b="helloworld"

In [59]:
a is b

False

In [60]:
a is not b

True

Membership Operators
----
in // not in

In [61]:
a="himanshu"

In [62]:
m in a

NameError: name 'm' is not defined

In [63]:
"m" in a

True

In [64]:
"l" in a

False

In [65]:
"l" no in a

SyntaxError: invalid syntax (2353042282.py, line 1)

In [66]:
"l" not in a

True

#example
---

In [71]:
a=int(input('enter value'))
b=a/2
print(b)

10.0

In [1]:
a=int(input('enter value'))
b=a/2
print(b)

25.0