Strings
Seq. of Chars

In Python: Unicode Chars

Op:

Create
Access
Add Chars
Edit
Delete
Ops on Strings
String Function

1. Create

In [1]:
#string
a = 'hello'

In [2]:
type(a)

str

In [3]:
a = 'hi'
b = "hlo"
c = """hello"""

In [4]:
print(a)
print(b)
print(c)

hi
hlo
hello

In [6]:
"its is ' america'

SyntaxError: unterminated string literal (detected at line 1) (1634445036.py, line 1)

2. Access

In [7]:
#acess

In [8]:
a = 'modi'

In [9]:
#two type access in string
#indexing
#slicing

In [10]:
#indexing=one time one element acess
a[-4]

'm'

In [11]:
a[0]

'm'

In [13]:
#slicing
#one time me multiple element acess kar sakte
a[0:2]

'mo'

In [14]:
country = 'india'

In [15]:
country[0]

'i'

In [16]:
country[-1]

'a'

In [17]:
country[2:4]

'di'

In [18]:
country[1:]

'ndia'

In [19]:
country[::-1]

'aidni'

In [22]:
#add charcter
string1 = "hello"
string2 = "world"

In [24]:
string1+ " "+string2

'hello world'

In [25]:
#edit
a

'modi'

In [26]:
a[0] = "x"#immutable data type

TypeError: 'str' object does not support item assignment

In [29]:
#delete
del a[0]

TypeError: 'str' object doesn't support item deletion

In [30]:
del a

In [31]:
a

NameError: name 'a' is not defined