Tuples
----
Immutable list-like collection.

Characteristics:
---

Ordered elements.
Unmodifiable post-creation.
Allows duplicates.

1.Create
2.Access
3.Edit
4.Add
5.Delete
6.Operations
7.Functions

1. Create
--

In [1]:
# empty
T1 = ()
T1

()

In [2]:
# homo
T2 = (1, 2, 3, 4, 5)
T2

(1, 2, 3, 4, 5)

In [3]:
# hetro
T3 = ("Hello", 4, 5, 6)
T3

('Hello', 4, 5, 6)

In [4]:
# tuple
T4 = (1, 2, 3, (4, 5))
T4

(1, 2, 3, (4, 5))

In [5]:
T5 = (1)
T5

1

In [6]:
type(T5)

int

In [7]:
# Type Conversion
T5 = ("Hello")
type(T5)

str

In [8]:
# Single-item tuple creation
T5 = ("Hello",)
type(T5)

tuple

In [9]:
T6 = tuple("Goa")
T6

('G', 'o', 'a')

In [10]:
T6 = tuple([1, 2, 3, 4])
T6

(1, 2, 3, 4)

2. Access
--

Indexing
Slicing

In [12]:
T2

(1, 2, 3, 4, 5)

In [13]:
T2[0]

1

In [14]:
T2[-1]

5

In [15]:
T2[:4]

(1, 2, 3, 4)

In [16]:
T4

(1, 2, 3, (4, 5))

In [17]:
T4[-1][0]

4

3. Edit
--

In [18]:
L = [1, 2, 3, 4, 5]

In [19]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [20]:
T2

(1, 2, 3, 4, 5)

In [21]:
T2[0] = 100
# Immutable, like strings

TypeError: 'tuple' object does not support item assignment

In [22]:
# Tuples = immutable (like strings)

4. Add 
--

In [23]:
# not possible
# Tuples: immutable

5. Delete
--

In [24]:
T1

()

In [25]:
del T1
T1

NameError: name 'T1' is not defined

In [26]:
T3

('Hello', 4, 5, 6)

In [27]:
T2

(1, 2, 3, 4, 5)

In [28]:
del T2(-1)

SyntaxError: cannot delete function call (1610192391.py, line 1)

In [29]:
# Tuples are immutable

6. Operations
--

In [31]:
T2

(1, 2, 3, 4, 5)

In [32]:
T3

('Hello', 4, 5, 6)

In [33]:
# + and *

In [34]:
T2 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [35]:
# iteration
for i in T2:
    print(i)

1
2
3
4
5

In [36]:
# membership
1 in T2

True

7. Functions
--

In [37]:
len(T2)

5

In [38]:
min(T2)

1

In [39]:
max(T2)

5

In [40]:
sum(T2)

15

In [41]:
sorted(T2)

[1, 2, 3, 4, 5]

In [42]:
sorted(T2, reverse = True)

[5, 4, 3, 2, 1]

In [43]:
# count
t = (1, 2, 3, 4, 5)
t.count(50)

0

In [44]:
# index
t.index(50)

ValueError: tuple.index(x): x not in tuple

Lists vs Tuples
---

Syntax:
Lists: [ ]
Tuples: ( )

Mutability:
Lists: Mutable
Tuples: Immutable

Speed:
Lists: Slower (mutable)
Tuples: Faster (immutable)

Memory:
Lists: Higher
Tuples: Lower

Functionality:
Both: Indexing, slicing
Lists: More methods

Error-Prone:
Lists: Modifiable
Tuples: Safer

Use Case:
Lists: Dynamic
Tuples: Static

In [ ]:
import time 
L = list(range(100000000))
T = tuple(range(100000000))

# List timing
start = time.time()
for i in L:
  i*5
print('List time', time.time()-start)

# Tuple timing
start = time.time()
for i in T:
  i*5
print('Tuple time', time.time()-start)

learnings
-----

In [1]:
a = [1, 2, 3]  
b = a  
b.append(4)  
print(a)

[1, 2, 3, 4]

In [2]:
x = "hello"  
y = x  
x = x + " world"  
print(y)

hello

In [3]:
x = (1, 2, [3, 4])  
x[2] += [5]  
print(x)

TypeError: 'tuple' object does not support item assignment

In [1]:
x = 5
while x > 0:
    x -= 1
    if x == 2:
        break
    print(x)

4
3

In [2]:
i = 1
while i < 4:
    i += 1
    if i == 3:
        continue
    print(i)

2
4

In [3]:
for i in range(3):
    for j in range(2):
        if i == j:
            break
        print(i, j)

1 0
2 0
2 1

In [4]:
x = 5
if x > 2:
    print("Greater")
else:
    print("Lesser")

Greater

In [5]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [6]:
x = 10
while x > 0:
    x -= 2
print(x)

0

In [7]:
for i in range(3):
    for j in range(2):
        if i == j:
            continue
        print(i, j)

0 1
1 0
2 0
2 1

In [8]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)

[1, 2, 3, 4]

In [9]:
for i in range(3):
    print(i)
else:
    print("Done")

0
1
2
Done

In [10]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [11]:
x = 10
y = 2
print(x ** y)

100

In [ ]:
s = {1, 2, 3, 4}
s.add(3)
print(s)

{1, 2, 3, 4}

In [14]:
s = {1, 2, 3}
s.clear()
print(s)

set()

In [15]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1 & s2)

{2, 3}

In [16]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 ^ s2)

{1, 2, 4, 5}

In [17]:
set("hello")

{'e', 'h', 'l', 'o'}

In [18]:
len(set([1, 2, 2, 3, 3, 3]))

3

In [19]:
x = 5
while x > 0:
    x -= 1
    if x == 2:
        break
    print(x)

4
3

In [ ]:
x=5
while x>0:
    x=x-1