Sets
---

Unordered, unique elements.

Set is mutable; elements are immutable.

Operations: Union, intersection, symmetric difference, etc.

Characteristics:

. Unordered

. Mutable

. Unique Elements

. No Mutable Data Types

Important Rules about Sets

. No Duplicates
. No Indexing/Slicing
. No Mutable Elements
. Set is Mutable

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions


1. Create
---

In [2]:
# empty
S1 = {}
S1

{}

In [3]:
type(S1)

dict

In [4]:
S1 = set()
S1

set()

In [5]:
type(S1)

set

In [6]:
# 1D & 2D Sets
S1 = {1, 2, 3, 4, 5} # 1D Set
S1
# S2 = {1, 2, 3, {4, 5}} # 2D Set
# S2

{1, 2, 3, 4, 5}

In [7]:
# homo and hetro
S2 = {"Hello", 4.5, True}
S2

{4.5, 'Hello', True}

In [8]:
# Type Conversion
s4 = set([1, 2, 3])
print(s4)

{1, 2, 3}

In [9]:
# duplicates not allowed
S3 = {1, 1, 2, 2, 3, 3}
S3

{1, 2, 3}

In [10]:
S4 = {[1, 2, 3], "Hello"}
S4

TypeError: unhashable type: 'list'

In [11]:
S4 = {(1, 2, 3), "Hello"}
S4

{(1, 2, 3), 'Hello'}

In [12]:
# set can't have mutable items
s6 = {1, 2, [3, 4]}
print(s6)

TypeError: unhashable type: 'list'

In [13]:
# Sets have no indexing
# Hashing

In [14]:
S5 = {{1}, {2}}

TypeError: unhashable type: 'set'

In [15]:
s1 = {1, 2, 3}
s2 = {3, 2, 1}
print(s1 == s2)

True

2. Access
---

In [16]:
S1

{1, 2, 3, 4, 5}

In [17]:
S1[0]

TypeError: 'set' object is not subscriptable

In [18]:
S1[-1]

TypeError: 'set' object is not subscriptable

In [19]:
S1[0:3]

TypeError: 'set' object is not subscriptable

3. Edit
---

In [20]:
S1

{1, 2, 3, 4, 5}

In [21]:
id(S1)

2877022751872

In [22]:
L = list(S1)
L

[1, 2, 3, 4, 5]

In [23]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [24]:
S1 = set(L)
S1

{2, 3, 4, 5, 100}

In [25]:
id(S1)

2877038250912

4. Add
---

In [26]:
S1

{2, 3, 4, 5, 100}

In [27]:
S1.add(6)
S1

{2, 3, 4, 5, 6, 100}

In [28]:
S1.add(7)
S1

{2, 3, 4, 5, 6, 7, 100}

5. Delete
---

. del
. remove()
. pop()
. discard()
. clear()

In [29]:
S2

{4.5, 'Hello', True}

In [30]:
del S2
S2

NameError: name 'S2' is not defined

In [31]:
del S1[0]

TypeError: 'set' object doesn't support item deletion

In [32]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [33]:
S1.remove(100)
S1

{2, 3, 4, 5, 6, 7}

In [34]:
S1.pop()
S1

{3, 4, 5, 6, 7}

In [35]:
S1.pop()
S1

{4, 5, 6, 7}

In [36]:
S1.discard(7)
S1

{4, 5, 6}

In [37]:
S1.clear()
S1

set()

6. Operations
---

In [38]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}

In [39]:
S1 + S2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [40]:
S1 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [41]:
# Iteration
for i in S1:
    print(i)

1
2
3
4
5

In [42]:
# Membership Test
1 in S1

True

In [43]:
1 not in S1

False

In [44]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [45]:
# Union(|)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
# Intersection(&)
s1 & s2

{4, 5}

In [47]:
# Difference(-)
s1 - s2
s2 - s1

{6, 7, 8}

In [48]:
# Symmetric Difference(^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

7. Functions
---

. len()
. min()
. max()
. sorted()

In [49]:
len(S1)

5

In [50]:
min(S1)

1

In [51]:
max(S1)

5

In [52]:
sorted(S1)

[1, 2, 3, 4, 5]

In [53]:
sorted(S1, reverse = True)

[5, 4, 3, 2, 1]

In [54]:
S1

{1, 2, 3, 4, 5}

In [55]:
S2

{3, 4, 5, 6, 7}

In [56]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [57]:
S1 | S2

{1, 2, 3, 4, 5, 6, 7}

In [58]:
S1.difference(S2)

{1, 2}

In [59]:
S2.difference(S1)

{6, 7}

In [60]:
S1.symmetric_difference(S2)

{1, 2, 6, 7}

In [61]:
S1.isdisjoint(S2)

False

In [62]:
S1.issubset(S2)

False

In [63]:
S1.issuperset(S2)

False

In [64]:
# copy
s1 = {1, 2, 3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

Frozen set
---

Immutable set.
Created via frozenset().
No modifications post-creation.
Ideal for hashable items: strings, numbers.

In [65]:
# create frozenset
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([3, 4, 5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [66]:
# what works and what does not
# Works       ---> all read functions
# Doesn't Work ---> write operations

In [67]:
# When to use
# 2D sets
fs = frozenset([1, 2, frozenset([3, 4])])
fs

frozenset({1, 2, frozenset({3, 4})})

Set Comprehension
---

In [68]:
# examples
{i**2 for i in range(1, 11) if i>5}

{36, 49, 64, 81, 100}