Dictionary


Key-Value Pairs: Data mapping.
Aliases: Map, associative array.


dict = { 'name': 'nitish', 'age': 33, 'gender': 'male' }

Traits:

Mutable
No indexing
Unique keys
Immutable keys

In [1]:
{"Name":"Saurabh", "Gender":"Male"}

{'Name': 'Saurabh', 'Gender': 'Male'}

4 Key Rules About Dictionaries


No Indexing: No index support.
Mutable: Can modify post-creation.
Keys: Immutable (str, num, tuple); Values: Any type.
Unique Keys: Keys must be unique; overwrite on reassignment.

In [2]:
# Mutable Types   ---> Lists, Sets, Dicts

# Immutable Types ---> Str, Tuples, Int, Float, Bool, Complex

Create
Access
Edit
Add
Delete
Operations
Functions

1. Create
---

In [3]:
# empty dictionary
D = {}
D

{}

In [15]:
# 1D dictionary
D = {"Name":"Saurabh", "Gender":"Male"}
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [4]:
D1 = {[1, 2, 3]:"Saurabh"}

TypeError: unhashable type: 'list'

In [5]:
# with mixed keys
D1 = {(1, 2, 3):"Saurabh"}
D1

{(1, 2, 3): 'Saurabh'}

In [6]:
# duplicate keys
D2 = {"Name":"Natty", "Name":"Maru"}
D2

{'Name': 'Maru'}

In [7]:
D3 = {"Name":"Saurabh", "College":"SGT", "Marks":{"M1":99, "DS":97, "Eng":98}}
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [8]:
# 2D dictionary ---> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [9]:
# mutable items as keys
D4 = {'name':'nitish', (1, 2, 3):2}
print(D4)

{'name': 'nitish', (1, 2, 3): 2}

In [10]:
# using sequence and dict function
D5 = dict([('name', 'nitish'), ('age', 32), (3, 3)])
D5

{'name': 'nitish', 'age': 32, 3: 3}

2. Access
---

In [16]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [17]:
D[0]

KeyError: 0

In [18]:
D["Name"]

'Saurabh'

In [19]:
D.get("Name")

'Saurabh'

In [20]:
D["Gender"]

'Male'

In [21]:
D.get("Gender")
# .get() ---> 1-D dicts only; Not for 2-D/nested dicts.

'Male'

In [22]:
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [23]:
D3["Marks"]["DS"]

97

3. Edit
---

In [24]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [27]:
D["Name"] = "Kartik"

In [28]:
D3["Marks"]["DS"] = 10
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98}}

4. Add
---

In [29]:
D

{'Name': 'Kartik', 'Gender': 'Male', 'NAME': 'KARTIK'}

In [30]:
D["Age"] = 22
D

{'Name': 'Kartik', 'Gender': 'Male', 'NAME': 'KARTIK', 'Age': 22}

In [31]:
D3["Marks"]["M2"] = 95
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

5. Delete
---

In [32]:
D5 = {}
D5

{}

In [33]:
del D5
D5

NameError: name 'D5' is not defined

In [34]:
D.pop('Name')

'Kartik'

In [35]:
D.popitem()

('Age', 22)

In [36]:
D

{'Gender': 'Male', 'NAME': 'KARTIK'}

In [37]:
del D["Gender"]
D

{'NAME': 'KARTIK'}

In [38]:
D.clear()
D

{}

6. Operations
---

In [39]:
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [41]:
D4

{'name': 'nitish', (1, 2, 3): 2}

In [42]:
D3+D4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [43]:
D3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [44]:
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [45]:
# Iteration
for i in D3:
    print(i)

Name
College
Marks

In [46]:
for i in D3:
    print(i, D3[i])

Name Saurabh
College SGT
Marks {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}

In [47]:
# Membership
"Saurabh" in  D3

False

In [48]:
"Name" in  D3

True

7. Functions
---

In [49]:
len(D3)

3

In [50]:
min(D3)

'College'

In [51]:
max(D3)

'Name'

In [52]:
sorted(D3)

['College', 'Marks', 'Name']

In [53]:
sorted(D3, reverse = True)

['Name', 'Marks', 'College']

In [54]:
D3.items()

dict_items([('Name', 'Saurabh'), ('College', 'SGT'), ('Marks', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95})])

In [55]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [56]:
D3.values()

dict_values(['Saurabh', 'SGT', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}])

In [57]:
# update
d1 = {1:2, 3:4, 4:5}
d2 = {4:7, 6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

Dictionary Comprehension


{key : value for var in iterable}
Creates dicts from iterables.

Example:

squares_dict = {x: x**2 for x in range(5)}

Maps numbers to squares.

Supports conditions & expressions

In [58]:
D = {"Name":"Nitish", "Gender":"Male", "Age":30}

In [59]:
D.items()

dict_items([('Name', 'Nitish'), ('Gender', 'Male'), ('Age', 30)])

In [60]:
D1 = {key:value for key, value in D.items() if len(key)>3}
D1

{'Name': 'Nitish', 'Gender': 'Male'}

In [61]:
L = [1, 2, 3, 4, 5, 6, 7]

In [62]:
D2 = {item : item**2 for item in L}
D2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [63]:
D2 = {item : item**2 for item in L if item%2 == 0}
D2

{2: 4, 4: 16, 6: 36}

In [64]:
# Print 1st 10 nums & squares
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [65]:
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [66]:
# using existing dict
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
{key:value*0.62 for (key, value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [67]:
# using zip
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]
{i:j for (i, j) in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [68]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}
{key:value for (key, value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [69]:
# Nested Comprehension
# Print multiplication tables for 2 to 4
{i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [70]:
{
    2:{1:2, 2:4, 3:6, 4:8},
    3:{1:3, 2:6, 3:9, 4:12},
    4:{1:4, 2:8, 3:12, 4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}

In [1]:
d1 = {120:"aman", 130:"vikas", 140:"kamal", 150:"arjun"}

In [2]:
d1

{120: 'aman', 130: 'vikas', 140: 'kamal', 150: 'arjun'}

In [3]:
d1[120]

'aman'

In [4]:
d1[130]

'vikas'

In [5]:
d1.items()

dict_items([(120, 'aman'), (130, 'vikas'), (140, 'kamal'), (150, 'arjun')])

In [6]:
d1.keys()

dict_keys([120, 130, 140, 150])

In [7]:
d1.values()

dict_values(['aman', 'vikas', 'kamal', 'arjun'])

In [8]:
for i in d1.keys():
    print(d1)

{120: 'aman', 130: 'vikas', 140: 'kamal', 150: 'arjun'}
{120: 'aman', 130: 'vikas', 140: 'kamal', 150: 'arjun'}
{120: 'aman', 130: 'vikas', 140: 'kamal', 150: 'arjun'}
{120: 'aman', 130: 'vikas', 140: 'kamal', 150: 'arjun'}

In [9]:
for i in d1.keys():
    print(i)

120
130
140
150

In [11]:
for i in d1.keys():
    print(i,end=" ")

120 130 140 150

In [12]:
for i in d1.values():
    print(i)

aman
vikas
kamal
arjun

In [13]:
for i in d1.values():
    print(i,end=" ")

aman vikas kamal arjun

In [14]:
for i in d1.items():
    print(i)

(120, 'aman')
(130, 'vikas')
(140, 'kamal')
(150, 'arjun')

In [16]:
for i in d1.items():
    print(i,end=" ")

(120, 'aman') (130, 'vikas') (140, 'kamal') (150, 'arjun')

In [18]:
d2 = {"a":10, "b":20, "c":30}

In [19]:
d2

{'a': 10, 'b': 20, 'c': 30}

In [21]:
d2["a"]

10

In [22]:
d2["b"]

20

In [23]:
d2.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [24]:
d2.keys()

dict_keys(['a', 'b', 'c'])

In [25]:
d2.values()

dict_values([10, 20, 30])

In [27]:
for i in d2.items():
    print(i)

('a', 10)
('b', 20)
('c', 30)

In [28]:
for i in d2.items():
    print(i,end=" ")

('a', 10) ('b', 20) ('c', 30)

In [29]:
for i in d2.keys():
    print(i)

a
b
c

In [31]:
for i in d2.keys():
    print(i,end=" ")

a b c

In [32]:
for i in d2.values():
    print(i)

10
20
30

In [33]:
for i in d2.values():
    print(i,end=" ")

10 20 30