In [ ]:
#for lpp syntax
#for i in varaiables
# i = container jisme ap varable ko store karate ho
# variable wo h jo apne create kiya h jisme apne data rkha h

In [1]:
a = "arun"

In [4]:
for i in a:
    print(i)

a
r
u
n

In [5]:
b = "arun kumar"

In [6]:
for x in b:
    print(x)

a
r
u
n

k
u
m
a
r

In [7]:
#range loop ke sath kam karta h
#range(5)#0,1,2,3,4
#range(1,10)-range(startvalue:included,endvalue:excluded)
#range(1,10,2)range(start,end,stepsize)

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(2,21):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [13]:
for i in range(100):
    if i%2==0:
        print("even number",i)

even number 0
even number 2
even number 4
even number 6
even number 8
even number 10
even number 12
even number 14
even number 16
even number 18
even number 20
even number 22
even number 24
even number 26
even number 28
even number 30
even number 32
even number 34
even number 36
even number 38
even number 40
even number 42
even number 44
even number 46
even number 48
even number 50
even number 52
even number 54
even number 56
even number 58
even number 60
even number 62
even number 64
even number 66
even number 68
even number 70
even number 72
even number 74
even number 76
even number 78
even number 80
even number 82
even number 84
even number 86
even number 88
even number 90
even number 92
even number 94
even number 96
even number 98

In [14]:
#example odd number print karana h

In [17]:
for i in range(100):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [18]:
list = [10,20,30,40,50]
for i in list:
    print(i)

10
20
30
40
50

In [19]:
#break function 
list = [10,20,30,40,50]
for i in list:
    if i==30:
        break
    print(i)

10
20

In [20]:
#continue -wo value ko skip kr deta h
list = [10,20,30,40,50]
for i in list:
    if i == 30:
        continue
    print(i)

10
20
40
50

In [21]:
fruits = ['papaya','orange','banana','grapes','mango']#grapes tak data chaiye loop laga ker karo

In [23]:
fruits = ['papaya','orange','banana','grapes','mango']
for i in fruits:
    if i=='mango':
        break
    print(i)

papaya
orange
banana
grapes

In [24]:
fruits = ['papaya','orange','banana','grapes','mango']
for i in fruits:
    if i=='banana':
        continue
    print(i)

papaya
orange
grapes
mango

In [25]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [27]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hr51a\anaconda3\envs\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hr51a\anaconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp39-cp39-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
    --------------------------------------- 0.3/11.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.6 MB 882.6 kB/s eta 0:00:13
   -- ------------------------------------- 0.8/11.6 MB 985.5 kB/s eta 0:00:11
   -- ------------------------------------- 0.8/11.6 MB 985.5 kB/s eta 0:00:11
   ---- ----------------------------------- 1.3/11.6 MB 1.1 MB/s eta 0:00:10
   ---- ----------------------------------- 1.3/11.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 1.8/11.6 MB 1.1 MB/s eta 0:00:09
   ------- -------------------------------- 2.1/11.6 MB 1.2 MB/s eta 0:00:09
   -------- ------------------------------- 2.4/11.6 MB 1.2 MB/s eta 0:00:09
   --------- ------------------------------ 2.6/11.6 MB 1.2 MB/s eta 0:00:08
   --------- ------------------------------ 2.9/11.6 MB 1.2 MB/s eta 0:00:08
   ---------- ----------------------------- 3.1/11.6 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.7/11.6 MB 1.3 MB/s eta 0:00:07
   ------------- -------------------------- 3.9/11.6 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 4.2/11.6 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.5/11.6 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.7/11.6 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.7/11.6 MB 1.3 MB/s eta 0:00:06
   ----------------- ---------------------- 5.0/11.6 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.2/11.6 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.5/11.6 MB 1.2 MB/s eta 0:00:05
   ------------------- -------------------- 5.8/11.6 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 6.0/11.6 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.3/11.6 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.3/11.6 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 6.6/11.6 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 6.8/11.6 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 7.1/11.6 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.6 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.6/11.6 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.6 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.6 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 8.1/11.6 MB 1.2 MB/s eta 0:00:03
   ---------------------------- ----------- 8.4/11.6 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 8.7/11.6 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 8.9/11.6 MB 1.2 MB/s eta 0:00:03
   ------------------------------- -------- 9.2/11.6 MB 1.2 MB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.6 MB 1.1 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.6 MB 1.1 MB/s eta 0:00:02
   --------------------------------- ------ 9.7/11.6 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.6 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.6 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.6 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.6 MB 1.1 MB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.6 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.6 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 11.0/11.6 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 1.1 MB/s eta 0:00:00
Downloading numpy-2.0.2-cp39-cp39-win_amd64.whl (15.9 MB)
   ---------------------------------------- 0.0/15.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.9 MB ? eta -:--:--
    --------------------------------------- 0.3/15.9 MB ? eta -:--:--
   - -------------------------------------- 0.5/15.9 MB 989.2 kB/s eta 0:00:16
   - -------------------------------------- 0.5/15.9 MB 989.2 kB/s eta 0:00:16
   - -------------------------------------- 0.8/15.9 MB 932.9 kB/s eta 0:00:17
   -- ------------------------------------- 1.0/15.9 MB 949.8 kB/s eta 0:00:16
   --- ------------------------------------ 1.3/15.9 MB 972.7 kB/s eta 0:00:16
   --- ------------------------------------ 1.6/15.9 MB 976.0 kB/s eta 0:00:15
   --- ------------------------------------ 1.6/15.9 MB 976.0 kB/s eta 0:00:15
   ---- ----------------------------------- 1.8/15.9 MB 967.9 kB/s eta 0:00:15
   ----- ---------------------------------- 2.1/15.9 MB 962.8 kB/s eta 0:00:15
   ----- ---------------------------------- 2.4/15.9 MB 972.7 kB/s eta 0:00:14
   ------ --------------------------------- 2.6/15.9 MB 968.1 kB/s eta 0:00:14
   ------ --------------------------------- 2.6/15.9 MB 968.1 kB/s eta 0:00:14
   ------- -------------------------------- 2.9/15.9 MB 975.6 kB/s eta 0:00:14
   ------- -------------------------------- 3.1/15.9 MB 976.5 kB/s eta 0:00:14
   -------- ------------------------------- 3.4/15.9 MB 954.1 kB/s eta 0:00:14
   -------- ------------------------------- 3.4/15.9 MB 954.1 kB/s eta 0:00:14
   --------- ------------------------------ 3.7/15.9 MB 956.7 kB/s eta 0:00:13
   --------- ------------------------------ 3.9/15.9 MB 955.0 kB/s eta 0:00:13
   ---------- ----------------------------- 4.2/15.9 MB 946.1 kB/s eta 0:00:13
   ---------- ----------------------------- 4.2/15.9 MB 946.1 kB/s eta 0:00:13
   ----------- ---------------------------- 4.5/15.9 MB 952.0 kB/s eta 0:00:13
   ----------- ---------------------------- 4.7/15.9 MB 953.9 kB/s eta 0:00:12
   ------------ --------------------------- 5.0/15.9 MB 961.8 kB/s eta 0:00:12
   ------------- -------------------------- 5.2/15.9 MB 957.3 kB/s eta 0:00:12
   ------------- -------------------------- 5.2/15.9 MB 957.3 kB/s eta 0:00:12
   ------------- -------------------------- 5.5/15.9 MB 945.2 kB/s eta 0:00:12
   -------------- ------------------------- 5.8/15.9 MB 942.2 kB/s eta 0:00:11
   -------------- ------------------------- 5.8/15.9 MB 942.2 kB/s eta 0:00:11
   --------------- ------------------------ 6.0/15.9 MB 932.1 kB/s eta 0:00:11
   --------------- ------------------------ 6.3/15.9 MB 934.3 kB/s eta 0:00:11
   ---------------- ----------------------- 6.6/15.9 MB 940.8 kB/s eta 0:00:10
   ---------------- ----------------------- 6.6/15.9 MB 940.8 kB/s eta 0:00:10
   ----------------- ---------------------- 6.8/15.9 MB 940.5 kB/s eta 0:00:10
   ----------------- ---------------------- 7.1/15.9 MB 940.1 kB/s eta 0:00:10
   ------------------ --------------------- 7.3/15.9 MB 943.7 kB/s eta 0:00:10
   ------------------ --------------------- 7.3/15.9 MB 943.7 kB/s eta 0:00:10
   ------------------- -------------------- 7.6/15.9 MB 941.4 kB/s eta 0:00:09
   ------------------- -------------------- 7.9/15.9 MB 944.7 kB/s eta 0:00:09
   -------------------- ------------------- 8.1/15.9 MB 940.8 kB/s eta 0:00:09
   -------------------- ------------------- 8.1/15.9 MB 940.8 kB/s eta 0:00:09
   --------------------- ------------------ 8.4/15.9 MB 943.9 kB/s eta 0:00:08
   --------------------- ------------------ 8.7/15.9 MB 948.6 kB/s eta 0:00:08
   ---------------------- ----------------- 8.9/15.9 MB 949.7 kB/s eta 0:00:08
   ----------------------- ---------------- 9.2/15.9 MB 957.1 kB/s eta 0:00:08
   ----------------------- ---------------- 9.4/15.9 MB 961.0 kB/s eta 0:00:07
   ----------------------- ---------------- 9.4/15.9 MB 961.0 kB/s eta 0:00:07
   ------------------------- -------------- 10.0/15.9 MB 965.4 kB/s eta 0:00:07
   ------------------------- -------------- 10.2/15.9 MB 974.9 kB/s eta 0:00:06
   -------------------------- ------------- 10.5/15.9 MB 984.0 kB/s eta 0:00:06
   --------------------------- ------------ 10.7/15.9 MB 991.3 kB/s eta 0:00:06
   --------------------------- ------------ 11.0/15.9 MB 995.5 kB/s eta 0:00:05
   ---------------------------- ----------- 11.3/15.9 MB 999.5 kB/s eta 0:00:05
   ---------------------------- ----------- 11.5/15.9 MB 1.0 MB/s eta 0:00:05
   ----------------------------- ---------- 11.8/15.9 MB 1.0 MB/s eta 0:00:05
   ------------------------------ --------- 12.1/15.9 MB 1.0 MB/s eta 0:00:04
   ------------------------------ --------- 12.3/15.9 MB 1.0 MB/s eta 0:00:04
   ------------------------------- -------- 12.6/15.9 MB 1.0 MB/s eta 0:00:04
   -------------------------------- ------- 13.1/15.9 MB 1.0 MB/s eta 0:00:03
   --------------------------------- ------ 13.4/15.9 MB 1.0 MB/s eta 0:00:03
   ---------------------------------- ----- 13.6/15.9 MB 1.1 MB/s eta 0:00:03
   ---------------------------------- ----- 13.9/15.9 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 14.2/15.9 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 14.4/15.9 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 14.7/15.9 MB 1.1 MB/s eta 0:00:02
   ------------------------------------- -- 14.9/15.9 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 15.5/15.9 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  15.7/15.9 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 15.9/15.9 MB 1.1 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2025.1 tzdata-2025.1

In [28]:
import pandas as hima

In [30]:
data = hima.read_csv("C:\\Users\\hr51a\\OneDrive\\Desktop\\My-Python\\subs.csv")

In [31]:
data

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [32]:
data = hima.read_csv("C:/Users/hr51a/OneDrive/Desktop/My-Python/subs.csv")

In [33]:
data

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [34]:
data.columns

Index(['Subscribers gained'], dtype='object')

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subscribers gained  365 non-null    int64
dtypes: int64(1)
memory usage: 3.0 KB

In [36]:
for i in data['Subscribers gained']:
    if i>100:
        print(i)

123
108
110
126
109
108
101
128
111
101
105
104
104
136
115
123
112
145
132
123
110
120
105
105
159
136
135
109
128
105
105
104
119
118
114
117
102
101
114
118
113
123
129
140
180
225
249
265
306
261
222
170
160
114
175
170
115
152
105
105
110
102
136
105
130
146
146
105
146
150
114
113
117
108
103
108
138
124
139
117
103
108
146
131
113
108
125
119
115
123
119
127
135
137
156
160
122
111
131
192
224
254
214
236
261
247
207
254
301
233
168
179
154
152
153
202
185
158
173
180
184
259
196
213
210
179
182
216
183
185
159
180
160
154
147
138
157
134
184
134
132
119
153
185
138
150
134
160
170
175
228
237
276
173
290
295
245
241
267
269
211
186
206
202
176
236
222
203
190
190
170
156
172
174
157
178
189
174
157
173
162
151
115
152
150
186
156
230
186
150
153
167
183
244
158
155
167
157
196
243
227
259
183
166
154
396
312
268
229
197
188
176
221
225
221
202
171
185
184
276
258
219
212
192
164
192
220
196
197
204
149
156
177
210
209
231
226
155
144
172

In [37]:
d = []
for i in data['Subscribers gained']:
    if i>100:
        d.append(i)

In [42]:
d

[123,
 108,
 110,
 126,
 109,
 108,
 101,
 128,
 111,
 101,
 105,
 104,
 104,
 136,
 115,
 123,
 112,
 145,
 132,
 123,
 110,
 120,
 105,
 105,
 159,
 136,
 135,
 109,
 128,
 105,
 105,
 104,
 119,
 118,
 114,
 117,
 102,
 101,
 114,
 118,
 113,
 123,
 129,
 140,
 180,
 225,
 249,
 265,
 306,
 261,
 222,
 170,
 160,
 114,
 175,
 170,
 115,
 152,
 105,
 105,
 110,
 102,
 136,
 105,
 130,
 146,
 146,
 105,
 146,
 150,
 114,
 113,
 117,
 108,
 103,
 108,
 138,
 124,
 139,
 117,
 103,
 108,
 146,
 131,
 113,
 108,
 125,
 119,
 115,
 123,
 119,
 127,
 135,
 137,
 156,
 160,
 122,
 111,
 131,
 192,
 224,
 254,
 214,
 236,
 261,
 247,
 207,
 254,
 301,
 233,
 168,
 179,
 154,
 152,
 153,
 202,
 185,
 158,
 173,
 180,
 184,
 259,
 196,
 213,
 210,
 179,
 182,
 216,
 183,
 185,
 159,
 180,
 160,
 154,
 147,
 138,
 157,
 134,
 184,
 134,
 132,
 119,
 153,
 185,
 138,
 150,
 134,
 160,
 170,
 175,
 228,
 237,
 276,
 173,
 290,
 295,
 245,
 241,
 267,
 269,
 211,
 186,
 206,
 202,
 176,
 236,
 222,
 203,
 190,
 190,
 170,
 156,
 172,
 174,
 157,
 178,
 189,
 174,
 157,
 173,
 162,
 151,
 115,
 152,
 150,
 186,
 156,
 230,
 186,
 150,
 153,
 167,
 183,
 244,
 158,
 155,
 167,
 157,
 196,
 243,
 227,
 259,
 183,
 166,
 154,
 396,
 312,
 268,
 229,
 197,
 188,
 176,
 221,
 225,
 221,
 202,
 171,
 185,
 184,
 276,
 258,
 219,
 212,
 192,
 164,
 192,
 220,
 196,
 197,
 204,
 149,
 156,
 177,
 210,
 209,
 231,
 226,
 155,
 144,
 172]

In [43]:
type(d)

list

In [46]:
my_data = hima.DataFrame(d)

In [47]:
my_data

       0
0    123
1    108
2    110
3    126
4    109
..   ...
235  231
236  226
237  155
238  144
239  172

[240 rows x 1 columns]

In [48]:
type(my_data)

pandas.core.frame.DataFrame

In [49]:
my_data.to_csv("my_data.csv")

In [50]:
data

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [51]:
for i in data['Subscribers gained']:
    if i%2==0:
        print(i)

48
40
44
46
40
44
74
56
42
44
54
40
40
50
56
46
88
42
56
50
50
76
108
110
56
62
66
66
82
126
88
108
128
96
72
76
104
70
80
104
136
112
84
92
80
70
70
132
98
96
88
86
92
92
110
120
72
84
90
78
86
72
100
72
90
100
88
78
96
80
66
68
90
76
66
64
136
72
78
84
74
128
82
86
100
88
104
118
114
102
96
90
114
118
140
180
306
222
170
160
114
170
152
110
102
136
76
130
146
146
146
150
114
108
108
138
124
108
146
108
98
156
160
122
192
224
254
214
236
254
168
154
152
202
158
180
184
196
210
182
216
180
160
154
138
134
184
134
132
138
150
134
160
170
228
276
290
186
206
202
176
236
222
190
190
170
156
172
174
178
174
162
152
150
186
156
230
186
150
244
158
196
166
154
396
312
268
188
176
202
184
276
258
212
192
164
192
220
196
204
156
210
226
144
172

In [52]:
#while loop condition pr
#while condition:
#print()
#increment
i = 0#initilize value
while i<11:#condion
    print(i)#diplay
    i+=1#increment

0
1
2
3
4
5
6
7
8
9
10

In [54]:
i = 0#initilize value
while i<11:#condion
    print(i)#diplay
    i = i+1#increment

0
1
2
3
4
5
6
7
8
9
10

In [62]:
i = -1#initilize value
while i < -11:#condion
    print(i)#diplay
    i = i+1#increme

In [63]:
# 1. Print Multiplication Table
number = int(input("Enter the number: "))
i = 1
while i < 11:
    print(number * i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [64]:
number = int(input("Enter the number: "))
i = 1
while i < 11:
    print(number, "*", i, "=", number * i)
    i += 1

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [65]:
# while loop with else
x = 1
while x < 3:
  print(x)
  x += 1
else:
  print('limit crossed')

1
2
limit crossed

In [67]:
# 2. Sum of Digits
number = int(input("Enter the number: "))
sum_digits = 0
while number > 0:
    digit = number % 10
    sum_digits += digit
    number //= 10
print(f"Sum of digits: {sum_digits}")

Sum of digits: 3

In [68]:
a = 20
#digit = 20%10

In [69]:
digit = a%10

In [70]:
digit

0

In [71]:
sum_digits = 0

In [72]:
sum_digits += digit

In [73]:
sum_digits

0

In [74]:
a //= 10

In [75]:
a

2

In [77]:
20/2

10.0

example project
----

In [6]:
jackpot = random.randint(1, 100)
guess = int(input("Chal guess kar: "))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print("Guess higher")
    else:
        print("Guess lower")   
    guess = int(input("Chal guess kar: "))
    counter += 1
print("Sahi Jawab")
print("You took", counter, "attempts")

Guess lower
Guess higher
Guess higher
Guess higher
Guess higher
Guess higher
Guess higher
Guess higher
Guess higher
Guess lower
Guess lower
Sahi Jawab
You took 12 attempts

In [7]:
add(5,8)

NameError: name 'add' is not defined

In [3]:
import numpy as np

In [5]:
import random